/*********************************************
 * CUSTOM STYLES
 *********************************************/

h1, h2, h3 {
	color: #ee9e24 !important;
}

 .reveal h1 {
 	text-shadow: none;
 }

h4, h5, h6, b {
	color: #5896F5 !important;
}

 .compensation_mobile {
 	max-height: 100%;
 	width: auto;
 }

 .compensation {
 	max-height: 100%;
 	width: auto;
 }

/*make daily changes image transparent*/
.reveal section img.transparent {
	background: none; 
	border: none;
	box-shadow: none;
}

 .brokers_mobile {
 	max-height: 100%;
 	width: auto;
 }

 .producers {
 	min-height:100%;
 	width: auto;
 }

 #producers {
 	height: 600px;
 }

 .left {
 	float: left;
 }

 .mainContent {
 	width: 70%;
 }

 .sidebar {
 	width: 30%;
 }

 .col-2 {
 	width: 49%;
 }