/*********************************************
 * CUSTOM STYLES
 *********************************************/

 .compensation_mobile {
 	height: 100%;
 	width: auto;
 }

 .compensation {
 	/*margin-bottom: 0;*/
 	/*padding-bottom: 0;*/
 }

/*make daily changes image transparent*/
.reveal section img.transparent {
	background: none; 
	border: none;
	box-shadow: none;
}

 .brokers_mobile {
 	height: 100%;
 	width: auto;
 }

 .producers {
 	max-height: 400px;
 	max-width: auto;
 }

 .left {
 	float: left;
 }

 .mainContent {
 	width: 70%;
 }

 .sidebar {
 	width: 30%;
 }

 .col-2 {
 	width: 49%;
 }